DATABASE_URL="postgresql://postgres:postgres@localhost:5432/scott_law?schema=public"
AUTH_SECRET="change-me-with-auth-secret"
AUTH_URL="http://localhost:3000"
AUTH_DISCORD_ID="discord-client-id"
AUTH_DISCORD_SECRET="discord-client-secret"
DOCUMENT_STORAGE_PATH="./public/uploads"
